*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 59%;
    }
}

body {
    box-sizing: border-box;
    position: relative;
    font-family: sans-serif;
    line-height: 1.5;
    /* color: #777; */
    background-color: #fbab14;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #333;
    /* background-color: white; */
    box-shadow: 0 10px 100px rgb(0, 0, 0,  10%);
    z-index: 1000;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}

.header_logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fbab14;
    transition: color 0.2s;
}

.logo_img {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #fbab14;  
}

.logo_sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.header_links {
    display: flex;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header_link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fbab14;
    transition: color 0.3s;
}

.header_link:hover {
    color: #333;
    background: #fbab14;;
}

a {
    text-decoration: none;
    color: inherit;
}

.home {
    color: #333;
    background: #fbab14;
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.home_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
    /* border: solid 1px black; */
}

.heading_primary {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #333;
    text-align: center;
    margin-bottom: 5rem;
}

.home_info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
    display: flex;
    justify-content: space-evenly;
}

.home_info_text {
    font-size: 2.2rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    /* margin-bottom: 3rem; */
}

.external_links {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background: #fbab14;
    padding: 2rem;
}

.link {
    width: 6rem;
}

.social_icon {
    width: 100%;
    display: block;
    padding: 1.5rem;
    transition: transform 0.3s;
    border-radius: 5px;
}

.fa-brands {
    font-size: 3rem;
    /* padding-right: 4px; */
}

.link:hover {
    background-color: #333;
    color: #fbab14;
}

.home_info_pic {
    background: #fbab14;
    z-index: -1;
}

#about {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #333;
    text-align: center;
    margin-bottom: 5rem;
}

.heading_sec_text::after {
    content: "";
    display: block;
    width: 10rem;
    height: 0.5rem;
    background-color: #333;
    margin: 2rem auto;
}

.about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
}

.content_title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #333;
    text-align: center;
    margin-bottom: 5rem;
}

.details_para {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #333;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.8rem;
    background: #333;
    border-radius: 5px;
    font-weight: 600;
    color: #fbab14;
}

.main-footer {
    background-color: #333;
    color: #fbab14;
    padding: 2rem 0;
    text-align: center;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.copyright {
    font-size: 1.2rem;
    color: #fbab14;
    text-align: center;
    margin-bottom: 5rem;
}